{% extends "base.html" %}

{% block content %}
<h1> Log in to Blogz!</h1>
<br>
<p> If you do not have an account, you may <a href="/signup">register</a> for an account!</p>

<form action = "/login" method="POST">
    <table>
        <tr>
            <td><label for="username">Username</label>
            <td>
                <input name="username" type="text" value="{{username}}">
            </td>
        </tr>
        <tr>
            <td> <label for="password">Password</label></td>
            <td>
                <input name="password" type="password" value={{password}}>
            </td>
        </tr>
    </table>
    <input type="submit" value="Login">
</form>

{% endblock %}